@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	padding: 0px;
	margin: 0px;
}
h1 {
  font-size: 32px;
}
h1.title {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
  display: block;
  margin: right;
}

img-circle {
  border-radius: 50%;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(80deg, #62e0fc 0%, #ad95e661 100%);
    border-color: white;
    height: 77px;
}.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    margin: 14px 7px;
    font-size: 14.5 !important;
    font-family: Open Sans;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #772953;
    background-color: #f7f7f7;
    border-radius: 40px;
    font-weight: 600;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #772953;
    background-color: #f7f7f7;
    border-radius: 40px;
    font-weight: 600;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #772953;
    background-color: #f7f7f7;
    border-radius: 40px;
    font-weight: 600;
}
.navbar-inverse .navbar-brand {
    color: white;
    margin: 13px 39px;
    font-weight: 600;
    font-family: Open Sans;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #772953;
    background-color: #f7f7f7;
    border-radius: 40px;
    font-weight: 600;
}

.toc-content {
    padding-left: 0px;
    padding-right: 92px;
    padding-top: 113px;
    text-decoration: solid;
    text-align: initial;
}
